<head>
  <meta charset="utf-8">
  <title>Greet</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<h1>Greet Application</h1>

<div class="style">
<form class="" action="/addName" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="" placeholder="type name">
  <button type="submit" name="bttn">Greet Me!</button>
  <br>
  <br>
  <br>
  <input type="radio" name="language" value="English"> English
  <input type="radio" name="language" value="French"> French
  <input type="radio" name="language" value="IsiZulu"> IsiZulu
</form>
<p>{{language}}</p>
<a href="/index">Greeted Names</a>
</div>
