<head>
  <meta charset="utf-8">
  <title>Greet Web Form</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<h1>Greet Application form</h1>

<div class="style">
  <form class="" action="/addName" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" value="" placeholder="type name" required="">
    <button type="submit" name="bttn">Greet Me!</button>
    <br>
    <br>
    <br>
    <input type="radio" name="language" value="English" required=""> English
    <input type="radio" name="language" value="French"> French
    <input type="radio" name="language" value="IsiZulu"> IsiZulu
  </form>
  <p>{{greetings}}</p>
  <p>{{msg}}</p>
  <a href="/greeted">Greeted Names</a>

</div>
