<h1>Names Greeted</h1>
<link rel="stylesheet" href="/css/style.css">
<div class="style">
  <ul>
    {{#each name}}
      <li><a href="/counter/{{this.name}}">{{this.name}}</a></li>
    {{/each}}
    {{message.error}}

  </ul>
  <form class="" action="/clear" method="post">
    <input type="submit" name="clear" value="Reset Counter">
  </form>

  <br>

  <a href="/addName">First Page</a>
</div>
