body {
  background-color: skyblue;
  font-size: 30px;
}


h1 {
  padding-left: 7%;
  font-size: 70px;
  font-family: sans-serif;
  color: #666;
  text-transform: 5px 10px 10px red;
}

li{
  list-style: none;
}
a{
  padding-right: 1%
}

.style {
  padding-left: 20%
}
ul a :hover{
  text-decoration: underline;
}
